@model ICollection<AllContactsViewModel>
@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row justify-content-center">
        @foreach (var contact in Model)
        {
            <div class="card col-10 mt-3 p-0">
                <h5 class="card-header">@contact.Name / @contact.Email</h5>
                <div class="card-body">
                    <h5 class="card-title">@contact.Title</h5>
                    <p class="card-text">@(contact.Content.Length > 150 ? contact.Content.Substring(0, 150) + "..." : contact.Content)</p>
                    <a class="btn btn-primary" asp-area="Administration" asp-controller="Contacts" asp-action="Details" asp-route-id="@contact.Id">Details</a>
                </div>
            </div>
        }
    </div>