@model ContestsListViewModel

@{
    ViewData["Title"] = "My Contests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 align="center">My Contests</h1>

<div style="@(Model.Contests.Any() ? "display:none !important" : "")" class="alert alert-danger d-flex justify-content-between" role="alert" id="emptyNotification">
    <span>No added contests...</span>
    <a asp-controller="Contests" asp-action="Create">Add contests</a>
</div>

<input type="hidden" id="contestForDeleteId" value="" />

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Questions Count</th>
            <th>Delete</th>
            <th>Open/Close</th>
            <th>Go to room</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contest in Model.Contests)
        {
            <tr id="Container_@contest.Id">
                <td>
                    @contest.Id
                </td>

                <td>
                    <a asp-controller="Contests" asp-action="Edit" asp-route-id="@contest.Id">@contest.Name</a>
                </td>

                <td>
                    <span class="badge badge-primary badge-pill">@contest.Questions.Count</span>
                </td>

                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="del('contestForDeleteId', '@contest.Id')">Delete</button>
                </td>

                @if (contest.IsOpen)
                {
                    <td>
                        <a class="btn btn-primary" asp-controller="Contests" asp-action="Close" asp-route-id="@contest.Id">Close</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Contests" asp-action="Room" asp-route-code="@contest.AccessCode">Go to room</a>
                    </td>
                }
                else
                {
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Contests" asp-action="Open" asp-route-id="@contest.Id">Open</a>
                    </td>
                    <td>

                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete your contest?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="#" class="btn btn-danger" onclick="deleteConfirm('contestForDeleteId', '/Contests/Delete/')">Yes</a>
            </div>
        </div>
    </div>
</div>