@model IEnumerable<LearnLanguageSystem.Web.ViewModels.Contests.ContestViewModel>

@{
    ViewData["Title"] = "My Contests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="mb-3" align="center">My Contests</h3>

<div style="@(Model.Any() ? "display:none !important" : "")" class="alert alert-danger d-flex justify-content-between" role="alert" id="emptyNotification">
    <span>No added contests...</span>
    <a asp-controller="Contests" asp-action="Create">Add contests</a>
</div>
@if (this.TempData["Notification"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @this.TempData["Notification"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<input type="hidden" id="contestForDeleteId" value="" />

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Questions Count</th>
            <th>Delete</th>
            <th>Open/Close</th>
            @if (Model.Any(x => x.RoomId != null))
            {
                <th>Enter room</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var contest in Model)
        {
            <tr id="Container_@contest.Id">
                <td>
                    <a class="@(contest.RoomId == null ? "" : "btn disabled")" asp-controller="Contests" asp-action="Details" asp-route-id="@contest.Id">@contest.Name</a>
                </td>

                <td>
                    <span class="badge badge-primary badge-pill">@contest.Questions.Count</span>
                </td>

                @if (contest.RoomId == null)
                {

                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="del('contestForDeleteId', '@contest.Id')">Delete</button>
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Rooms" asp-action="Open" asp-route-contestId="@contest.Id" id="open">Open</a>
                    </td>
                    @if (Model.Any(x => x.RoomId != null))
                    {
                        <td>
                            <a class="btn btn-primary disabled">Enter</a>
                        </td>
                    }
                }
                else
                {
                    <td>
                        <a class="btn btn-danger disabled">Delete</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Rooms" asp-action="Close" asp-route-roomId="@contest.RoomId">Close</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Rooms" asp-action="Index" asp-route-id="@contest.RoomId">Enter</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete your contest?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="#" class="btn btn-danger" onclick="deleteConfirm('contestForDeleteId', '/Contests/Delete/')">Yes</a>
            </div>
        </div>
    </div>
</div>
