@using LearnLanguageSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@model RoomJoinInputModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Join";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = await this.UserManager.GetUserAsync(this.User);
}

<h1>Join</h1>

@if (this.TempData["Notification"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @this.TempData["Notification"]
        @if (this.TempData["RoomToLeave"] != null)
        {
            <a asp-area="" asp-controller="Rooms" asp-action="Kick" asp-route-roomId="@this.TempData["RoomToLeave"]" asp-route-userId="@user.Id">Yes</a>
            <a href="#" data-dismiss="alert" aria-label="Close">No</a>
        }
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<form method="post">
    <div class="d-flex">
        <input class="form-control w-25" type="number" asp-controller="Contests" asp-action="Join" asp-for="@Model.AccessCode"/>
        <button class="btn btn-primary ml-3">Join</button>
    </div>
    <span class="text-danger" asp-validation-for="@Model.AccessCode"></span>
</form>